.titulo{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--primario);
}
.contenedor{
    margin: 20px 50px;
}

/* COMIENZO DE QUIENES SOMOS */
.contenedor-somos{
    background-color: white;
    border-radius: 50px;
    padding: 40px 100px;
    text-align: center;
    color: var(--text);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);

}
.somos{
    display: flex;
    column-gap: 100px;
    margin-bottom: 40px;
}
.somos img{
    width: 400px;
    height: 250px;
    border-radius: 25px;
}
/* FIN DE QUIENES SOMOS */

/* COMIENZO DE ESTILOS PARA LA MISION Y VISION */
.vision-mision{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img-vision{
    height: 200px;
    border-radius: 50px  50px 0px 0px;
    margin: 15px 15px 0px 15px;
}
.img-mision{
    height: 200px;
    border-radius:  0px 0px 50px  50px;
    margin: 0px 15px 15px 15px;
}
.misvis{
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);
}
.altura-misvis{
    height: 200px;
    margin: 15px 15px 0px 15px;
}
.titulo-mision{
    margin: 40px;
    margin-bottom:20px;
}
.titulo-vision{
    margin-top: 0px;
    margin-bottom: 20px;
}
.divisor-misvis{
    margin:40px;
    color: #4585881f;;
}
/* COMIENZO DE ESTILOS PARA LOS SIMBOLOS UNIVERSITARIOS */
.simbolos{
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(3,1fr);
    height: 440px;
    
}
.sub-titulo{
    color: var(--secundario-oscuro);
    text-transform: capitalize;
    font-weight: 800;
    font-size: 40px;
}
.escudo{
    text-align: center;
    border-radius: 50px 0px 0px 50px;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);
}

.escudo h3{
    margin-bottom: 15px;
}
.himno{
    text-align: center;
    background-color: white;
    justify-content: center;
    padding: 0px 23px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);
}

.letra-himno{
    color: var(--text);
    font-size: 12px;
    font-weight: 300;
}
.text-fuerte{
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
}
.bandera{
    text-align: center;
    border-radius: 0px 50px 50px 0px;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);
}
.bandera h3{
    margin-bottom: 15px;
}

.img-simbolos{
    height: 300px;
    width: 250px;
    border-radius: 15px;
}
