.contenedor-crear-encuesta{
    display: grid;
    grid-template-columns:1fr;
    margin: 40px 20px 20px 20px;
    min-height: 450px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
@media (min-width: 700px) {
    .contenedor-crear-encuesta{
        grid-template-columns: 60% 40%;
    }
  }
.contenedor-preguntas{
    display: flex;
    padding: 20px 50px;
    align-items: center;
}
.divisor-contenido{
    border: 0px none solid;
    border-left: 1px #eee solid;
    margin: 20px 0px;
}
