:root{
  --background: #f1f1f1;
  --primario:#689D6A;
  --secundario-oscuro:#427B58;
  --texto-negro:#212121;
  --texto-blanco:#ffff;
  --text: #797979;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

.btn{
  border: 1px solid var(--primario);
  background-color: var(--primario);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.btn:hover{
  background-color: var(--secundario-oscuro);
  transition: 0.5s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50),0px 2px 10px rgba(0, 0, 0, 0.48);   
}

.line-divisor{
  margin: 50px 0px;
  color: #4585881f;
}

.footer{
  background-color: var(--primario);
  text-align: center;
  margin: 100px auto 0px auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);
  padding: 5px;
  color: white;
}
.footer p{
  margin-bottom: 0px;
}
